@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* header */

.conponents_header{
    background-color: white;
    padding: 1%;
    height: 11.9vh;
    border-bottom: 2px solid #4F83B4 ;
    display: flex;
    justify-content: space-between;
}

.perfil{
  font-size: 5rem;
}
.conponents_main{
    height: 100%;
    width: 100%;
}

/* main */

.header_aplicacao{
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
}

.voltar{
  width: max-content;
  height: max-content;
  display: flex;
  align-items:center ;
  gap: 30px;
  padding-left: 19px;
  padding-top: 19px;
}

.botton-voltar{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #4F83B4;
}

.titulo{
  width: 100%;
  height: max-content;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
}

.desempenho{
  width: 50%;
  height: 10vh;
  gap: 30px;
  display: flex;
  padding-top: 5px;
  border-bottom: 2px solid #4F83B4 ;
}

.tarefas{
  width: 50px;
  height: 70px;
}


.title{
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 1000;
  color: #4F83B4;

}

.garfico_termo{
  width: 100%;
  height: 80%;
  display: flex;
  padding-top: 89px;
}

.cardAluno{
  height: 80%;
  width: 30%;
  background-color: #ffff;
  display: flex;
  margin-left: 10%;
  text-align: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  flex-direction: column;
}

.cardMaterias{
  height: 70%;
  width: 500px;
  display: flex;
  margin-left: 4%;
  text-align: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}

.grafico{
  display: flex;
  padding-top: 10%;
  padding-left: 10%;
  gap: 45%;
}

.segura{
  width: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.potuacao{
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight:100000 ;
  color: black;
}

.percentual{
  height: 200px;
  width: 10px;
  border: solid 1px #fff;
  border-radius: 10%;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.cor{
  width: 100%;
  height: 50%;
  background-color: #c11010;
}

.porcentagem-nota-aprovado{
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  font-family: 'Poppins', sans-serif;
  color: #3347B0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.porcentagem-nota-reprovado{
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  font-family: 'Poppins', sans-serif;
  color: #c11010;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.porcentagem-nota-exame{
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  font-family: 'Poppins', sans-serif;
  color: #E5B657;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.disciplina{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight:100000 ;
  color: #3347B0;
}


/* Footer  */
 .Copyright{
    height: 9.1vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background-color: #4F83B4;
    color: white;
    justify-content: center;
    align-items: center;
 }